/* Navbar.css */

.custom-a {
  position: relative; /* Add position relative to create space for the line */
  font-weight:bold;
  font-size: 19px;
  

}

.custom-a:hover {
  color: rgb(68,134,119);
  font-weight: bold;
}

.custom-a .line {
  position: absolute;
  bottom: -5px; /* Adjust to position the line below the text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(68,134,119);
  transition: width 0.5s ease-in-out; /* Adjusted transition duration */
}

.custom-a:hover .line {
  width: 100%;
  box-shadow: 0 2px 5px rgba(68,134,119, 0.9);
  
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navlinks{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.mobileNav{
  display: none;
}


.mobileLogo{
  height: 45px;
}

.mobileName{
  display: block;

}


/* mobile responsive */

@media screen and (max-width:850px){
  .mobileName{
    display: none;
  }

  .mobileLogo{
    height: 40px;
  }

  .mobile_cont{
    width: 100%;
    justify-content: space-between;
  }
  
}
@media screen and (max-width:800px) {
  .mobileNav{
    display: block;
  }

  

  .navlinks{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    height: auto;
    width: 70%;
    border-radius: 0 10px 10px 0px;
    gap: 25px;
    padding: 20px;
    color: white;
    background-color: rgb(68,134,119);
    top: 120px;
    left: -70%;
    transition: all 1s;
  }

  .logo_nav{
    transition: all 0.5s;
  }

  .navlinks.active{
    left: 0;
    box-shadow: 5px 5px 50px rgba(0,0,0,0.6);

  }

  .navlinks.active li{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .navlinks.active li:hover{
    background: white;
    border-radius: 10px;
  }
}